.mainBtn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: $primary-btn-color;

  &:hover {
    background-color: $primary-btn-color-hover;
  }
}
