.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 90rem;
  margin: auto;
  padding: 4rem 0rem;

  h2 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 5rem;

    span {
      color: $primary-btn-color;
      cursor: pointer;

      &:hover {
        color: $primary-btn-color-hover;
      }
    }
  }

  h4 {
    font-size: 1.5rem;
    color: $grayish-text-color;
  }

  .searchBarHolder {
    display: flex;
    gap: 1rem;
    margin: 2rem 0rem;

    input {
      width: 28rem;
      border: 0.15rem solid $gray-color-025;
      border-radius: 2rem;
      padding: 1rem;

      &:hover {
        border: 0.15rem solid $gray-color-045;
      }

      &:focus-visible {
        outline-color: $primary-btn-color;
      }
    }

    .searchBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border: none;
      border-radius: 50%;
      background-color: $primary-btn-color;

      &:hover {
        background-color: $primary-btn-color-hover;
      }
    }
  }
}
