.businessCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0rem;

  .businessDetails {
    display: flex;
    align-items: center;
    gap: 2rem;

    .imageBox {
      display: flex;
      align-items: center;
      overflow: hidden;

      img {
        width: 12rem;
        height: 12rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .businessBox {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      flex: 1;

      img {
        width: 2rem;
        height: 2rem;
      }

      .categoryBadge {
        display: flex;
        justify-content: center;
        max-width: 6.5rem;
        padding: 0rem 1rem;
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        border-radius: 2rem;
        color: $primary-btn-color;
        background-color: $secondary-btn-color;
      }

      .serviceBox {
        display: flex;
        justify-content: space-between;

        h2 {
          font-size: 2rem;
          font-weight: 700;
        }

        .uploadBtn {
          padding: 0.4rem 1rem;

          img {
            width: 1.4rem;
            height: 1.4rem;
            color: white;
          }
        }
      }

      .contactBox {
        display: flex;
        justify-content: space-between;

        .contactEmail,
        .contactName {
          display: flex;
          align-items: center;
          gap: 1rem;

          p {
            letter-spacing: 0.1rem;
            font-weight: 500;
            color: $grayish-text-color;
          }

          #contactName {
            color: $primary-btn-color;
          }
        }
      }

      .locationBox {
        display: flex;
        justify-content: space-between;

        .contactAddress,
        .workingHours {
          display: flex;
          align-items: center;
          gap: 1rem;

          p {
            letter-spacing: 0.05rem;
            font-weight: 500;
            color: $grayish-text-color;
          }
        }

        #workingHours {
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
    }
  }
}

.workingHoursEntry {
  display: flex;
  justify-content: space-between;

  p {
    text-transform: capitalize;

    &:nth-child(2) {
      font-weight: 500;
    }
  }
}
