.businessReviewWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .ratingHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .addReview {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .btnLabel {
        color: $primary-btn-color;
      }
    }

    .ratingBox {
      display: flex;
      gap: 4rem;
      width: 100%;

      .ratingScore {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        h4 {
          font-weight: 600;
        }

        p {
          font-weight: 500;
          color: $gray-color-045;
        }
      }
    }

    .ratingFilter {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.modalTitle {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.05rem;
  font-weight: 500;
}

.provider {
  font-style: italic;
  color: $primary-btn-color;
}
