.bookingCard {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border: 0.1rem solid $gray-color-025;
  border-radius: 0.6rem;
  width: calc(50% - 0.5rem);

  .imageContainer {
    display: flex;
    align-items: center;
    width: 15rem;
    border-radius: 0.6rem;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .bookingDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    img {
      width: 2rem;
    }

    .bookingTitleBox {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 1.2rem;
        font-weight: 700;
      }

      .removeBookingBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        padding: 0;
        background: transparent;
        transition: border 0.2s ease-in-out;

        &:hover {
          border: 0.1rem solid rgba(255, 0, 0, 0.2);
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        img {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }

    .contactName,
    .contactAddress,
    .bookingDate,
    .bookingTime {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .contactName {
      font-size: 1.1rem;
      font-weight: 500;
      color: $primary-btn-color;
    }

    .contactAddress {
      font-weight: 500;
      color: $grayish-text-color;
    }

    .bookingDate,
    .bookingTime {
      p {
        display: flex;
        gap: 0.5rem;
        font-weight: 500;
        color: $grayish-text-color;

        span {
          font-weight: 500;
          color: black;
        }
      }
    }
  }
}
