.body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.content {
  border-radius: 2rem;
  padding: 1rem;
}

.close {
  scale: 1.1;
}

.inner {
  top: 24rem;
  left: 30.5rem;
}

.title {
  font-weight: 700;
}
