.modalContent {
  h4 {
    margin-top: 2rem;
    font-weight: 600;
  }

  h5 {
    margin-top: 2rem;
    font-weight: 600;
  }
  .timeSlots {
    margin: 2rem 0rem;

    button {
      width: 5rem;
      padding: 0.2rem 0.6rem;
      margin: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
      border: 0.1rem solid $gray-color-025;
      border-radius: 0.6rem;
      color: $grayish-text-color;

      &:hover {
        background-color: $gray-color-010;
      }
    }

    .selected {
      background-color: $btn-color-focus;
      color: $white-text-color;
      border: 0.1rem solid $btn-color-focus;

      &:hover {
        background-color: $btn-color-selected-hover;
      }
    }
  }

  .modalActions {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    button {
      border-radius: 0.6rem;

      &:nth-child(1) {
        margin-left: 2rem;
      }

      &:nth-child(2) {
        margin-right: 2rem;
      }
    }
  }
}
