.reviewCard {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 35rem;

  .addedUser {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    h3 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    p {
      font-weight: 500;
      color: $gray-color-045;
    }
  }

  .givenUserRating {
    .userStarBox {
      display: flex;

      .userStars {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  .descriptionBox {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 0.15rem solid $gray-color-010;
      bottom: -1.5rem;
      width: 100%;
    }

    h4 {
      font-size: 1rem;
      font-weight: 500;
    }

    p {
      text-align: justify;
    }
  }
}
