$background-color: #f4f4f6;
$additional-background-color: #f2eefd;

$gray-color-025: hsla(0, 0%, 50%, 0.25);
$gray-color-045: hsla(0, 0%, 50%, 0.45);

$grayish-text-color: #a8a8a8;
$additional-text-color: #9977ef;

$primary-btn-color: #8056eb;
$primary-btn-color-hover: #5b24e7;

$border-color: #beaaf5;

$secondary-btn-color: #e5ddfb;

$dark-box-shadow: hsla(0, 56%, 10%, 0.15);
$hover-box-shadow: hsla(257, 79%, 63%, 0.25);

$box-shadow-axis-top-left: -0.125rem -0.125rem 0.5rem;
$box-shadow-axis-top-left-hover: -0.32rem -0.32rem 1rem;
$box-shadow-axis-bottom-right: 0.125rem 0.125rem 0.5rem;
$box-shadow-axis-bottom-right-hover: 0.32rem 0.32rem 1rem;
