.searchCategoryCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 5.2rem;
  width: 25rem;
  padding: 1rem;
  border: 0.15rem solid $gray-color-025;
  border-radius: 0.6rem;
  box-shadow: $dark-box-shadow $box-shadow-axis-top-left;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s;

  &:hover {
    transform: translate(0.2rem, 0.2rem);
    box-shadow: $hover-box-shadow $box-shadow-axis-top-left-hover;
    background-color: $additional-background-color;
    border-color: $border-color;
    color: $primary-btn-color;
  }

  img {
    width: 3.5rem;
    height: 3.5rem;
  }

  p {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.active {
  background-color: $additional-background-color;
  border-color: $border-color;
  color: $primary-btn-color;
}
